p{
         font-size:30px;
         color:red;
}
img{
         height:370px;
         width:auto;
}
#special{
         font-size:px;
         color:;
}
body background{
         font-size:1100px;

}
